@page
@model EcoEnergyRazorPages.Pages.AddSimulationModel
@{
	ViewData["Title"] = "Afegir Simulació";
}

<div>
	<div class="text-center"><h1 class="display-4">Afegir Simulació</h1></div>
	<form action="" method="post">
		@*<div class="form-group">
			<input type="radio" id="input-solar-system" name="system-type" value="1" asp-for="NewSimulation.SysType">
			<label for="input-solar-system" asp-for="NewSimulation.SysType">Sistema Solar</label>
			<span asp-validation-for="NewSimulation.SysType" class="alert-dark"></span><br>
			<input type="radio" id="input-wind-system" name="system-type" value="2" asp-for="NewSimulation.SysType">
			<label for="input-wind-system" asp-for="NewSimulation.SysType">Sistema Eòlic</label>
			<span asp-validation-for="NewSimulation.SysType" class="alert-dark"></span><br>
			<input type="radio" id="input-hydroelectric-system" name="system-type" value="3" asp-for="NewSimulation.SysType">
			<label for="input-hydroelectric-system" asp-for="NewSimulation.SysType">Sistema Hidroelèctric</label>
			<span asp-validation-for="NewSimulation.SysType" class="alert-dark"></span><br>
		</div>*@
		<div class="form-group">
			<select name="systemtype" asp-for="NewSimulation.SysType" asp-items="@Model.Systems"></select>
		</div>
		<div class="form-group">
			<label asp-for="NewSimulation.ConfigPar"></label>
			<input class="form-control" asp-for="NewSimulation.ConfigPar" />
			<span asp-validation-for="NewSimulation.ConfigPar" class="alert-dark"></span>
		</div>
		<div class="form-group">
			<label asp-for="NewSimulation.Ratio"></label>
			<input class="form-control" asp-for="NewSimulation.Ratio" />
			<span asp-validation-for="NewSimulation.Ratio" class="alert-dark"></span>
		</div>
		<div class="form-group">
			<label asp-for="NewSimulation.KWHCost"></label>
			<input class="form-control" asp-for="NewSimulation.KWHCost" />
			<span asp-validation-for="NewSimulation.KWHCost" class="alert-dark"></span>
		</div>
		<div class="form-group">
			<label asp-for="NewSimulation.KWHPrice"></label>
			<input class="form-control" asp-for="NewSimulation.KWHPrice" />
			<span asp-validation-for="NewSimulation.KWHPrice" class="alert-dark"></span>
		</div>
		<button type="submit" class="btn btn-primary">Afegir</button>
	</form>
	<p>@Model.MsgFileError</p>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}