@page
@model EcoEnergyRazorPages.Pages.AddSimulationModel
@{
	ViewData["Title"] = "Afegir Simulació";
	string sysType = "";
}

<div>
	<div class="text-center"><h1 class="display-4">Afegir Simulació</h1></div>
	<form action="" method="post">
		<div class="form-group">
			<select id="systemtype" onchange="show()" @*asp-items="@Model.Systems"*@>
				<option value="1">Solar</option>
				<option value="2">Eòlic</option>
				<option value="3">Hidroelèctric</option>
			</select>
		</div>
		<div class="form-group">
			<label id="sunhours" asp-for="NewSimulation.ConfigPar">Hores de Sol</label>
			<label id="windvelocity" asp-for="NewSimulation.ConfigPar" style="display:none;">Velocitat del Vent</label>
			<label id="waterflow" asp-for="NewSimulation.ConfigPar" style="display:none;">Cabal d'aigua</label>
			<input class="form-control" asp-for="NewSimulation.ConfigPar" />
			<span asp-validation-for="NewSimulation.ConfigPar" class="alert-dark"></span>
			<p>@Model.MsgConfigParError</p>
		</div>
		<div class="form-group">
			<label asp-for="NewSimulation.Ratio">Rati</label>
			<input class="form-control" asp-for="NewSimulation.Ratio" />
			<span asp-validation-for="NewSimulation.Ratio" class="alert-dark"></span>
		</div>
		<div class="form-group">
			<label asp-for="NewSimulation.KWHCost">Cost kWh</label>
			<input class="form-control" asp-for="NewSimulation.KWHCost" />
			<span asp-validation-for="NewSimulation.KWHCost" class="alert-dark"></span>
		</div>
		<div class="form-group">
			<label asp-for="NewSimulation.KWHPrice">Preu kWh</label>
			<input class="form-control" asp-for="NewSimulation.KWHPrice" />
			<span asp-validation-for="NewSimulation.KWHPrice" class="alert-dark"></span>
		</div>
		<button type="submit" class="btn btn-primary">Afegir</button>
	</form>
	<p>@Model.MsgFileError</p>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script type="text/javascript">
		function show() {
			if ($("#systemtype :selected").val() == "1")
			{
				$("#sunhours").show();
				$("#windvelocity").hide();
				$("#waterflow").hide();
			}
			else if ($("#systemtype :selected").val() == "2") {
				$("#sunhours").hide();
				$("#windvelocity").show();
				$("#waterflow").hide();
			}
			else
			{
				$("#sunhours").hide();
				$("#windvelocity").hide();
				$("#waterflow").show();
			}
		}
	</script>
}